{% extends 'base.html' %}

{% block content %}
<div class="container col-4 border mt-5">
   {% for products in p %}
   <a href="/product/{{ products.id }}" class="card" style="width: 18rem;">
        <img src="{{ products.img_url }}" class="card-img-top" alt="{{ products.title }}">
        <div class="card-body">
            <h5 class="card-title">{{ products.title }}</h5>
            <p class="card-text">{{ products.description }}</p>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ products.price }}</h6>
        </div>
    </a>
   {% endfor %}
</div>
{% endblock %}